doctype html
html
  head
    title= 'Movies and series that everyone should see'
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    a(href='/') Home
    br
    a(href='/movie') Movies
    br
    a(href='/series') Series

    block content